.reset-password-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    min-height: 90vh;
    justify-content: center;
    max-width: 400px;
    margin: auto;
  }
  
  .reset-password-form-group {
    margin-bottom: 16px;
  }
  
  .reset-password-form-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }
  
  .input-text {
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  .text-div {
    margin-bottom: 16px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  .button-text {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  