.req-password-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    min-height: 90vh;
    justify-content: center;
    max-width: 400px;
    margin: auto;
  }
  
  .req-password-form-group {
    display: flex;
    flex-direction: column;
  }
  
  .req-password-form-input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 2px solid #00b5ff;
    border-radius: 0.25rem;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .req-password-form-input:focus {
    border-color: #007bb5;
  }
  
  .req-password-text-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    min-height: 1.5rem;
  }
  